body {
	background-color: #eaeaea;
	padding-top: 70px;
}

#header {
	text-align: center;
}

#header-seperator {
	border: none;
	border-bottom: 0.5px solid #cdcdcd;
	width: 85%;
}

div.webchat {
	position: relative;
	padding-bottom: 20%;
	height: 0;
}

iframe.webchat {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	padding-left: 20px;
	padding-right: 20px;
}
