body {
	background-color: #eaeaea;
	padding-top: 70px;
}

#header {
	text-align: center;
}

#header-seperator {
	border: none;
	border-bottom: 0.5px solid #cdcdcd;
	width: 85%;
}

.alert {
	align-text: center;
	padding-left: 40px;
	padding-right: 40px;
}

.webchat {
	border: 0;
	width: 100%;
	height: 467px;
	padding-left: 20px;
	padding-right: 20px;
}

#errormsg {
	text-align: center;
	font-weight: bold;
}
